.authorization {
  position: relative;
  color: $basic-black;
  border: none;
  background-color: transparent;
  padding: 10px;

  //Desktop
  @media (min-width: 1024px) {
    padding: 12px;
    margin-right: -10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 15px;
    height: 22px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    //Tablet
    @media (min-width: 768px) {
      top: 2px;
      left: 0;
      width: 20px;
    }

    //Desktop
    @media (min-width: 1024px) {
      top: 9px;
      left: -16px;

    }
  }

  &--open {
    &::before {
      content: "";
      position: absolute;
      top: 19px;
      left: 15px;
      width: 20px;
      height: 22px;
      background-image: url("../img/login.svg");
      background-repeat: no-repeat;

      //Tablet
      @media (min-width: 768px) {
        top: 2px;
        left: 0;
      }

      //Desktop
      @media (min-width: 1024px) {
        top: 8px;
        left: -4px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #1F1E25;
      opacity: 0.2;

      //Tablet
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.authorization span {
  display: none;

  //Desktop
  @media (min-width: 1024px) {
    font-family: "Roboto", "Arial", sans-serif;
    display: block;
    font-size: 16px;
  }
}

.authorization--open {
  //Desktop
  @media (min-width: 1024px) {
    margin-right: -23px;
  }
}

.authorization--open span {
  font-family: "Roboto", "Arial", sans-serif;
  display: block;
  font-size: 16px;

  //Tablet
  @media (min-width: 768px) {
    display: none;
  }

  //Desktop
  @media (min-width: 1024px) {
    display: block;
  }
}