.bullets {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.services .bullets {
  margin-left: -7px; 
  margin-top: 16px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 15px;
  }
}
  
.bullets__item span {
  position: relative;
  margin: 0 6px;

  //Tablet
  @media (min-width: 768px) {
    margin: 0 8px;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
    background-color: $special-blue;

    //Tablet
    @media (min-width: 768px) {
      width: 8px;
      height: 8px;
    }
  }
}
  
.bullets__item--active span {
  &::after {
    background-color: white;
  }
}

.services__bullets .bullets__item--active span {
  &::after {
    background-color: $dark-grey;
  }
}