.calculator {
  //Desktop
  @media (min-width: 1024px) {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.calculator__title {
  font-size: 22px;
  margin: 0;
  padding: 15px;
  margin-top: 40px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 32px;
    padding: 42px 44px 30px;
  }

  //Desktop
  @media (min-width: 1024px) {
    font-size: 41px;
    padding: 76px 0 76px;
  }
}

.calculator--error + div,
.calculator--error + input {
  border: 1px solid red;
  border-radius: 4px;
}

.calculator--error {
  position: relative;

  &::after {
    content: "Некорректное значение";
    position: absolute;
    top: 31px;
    right: 238px;
    display: block;
    z-index: 1;
    font-size: 12px;
    color: red;
  }
}

.calculator__form {
  padding: 15px;

  //Tablet
  @media (min-width: 768px) {
    padding: 15px 44px;
  }

  //Desktop
  @media (min-width: 1024px) {
    padding: 0;
  }
}

.calculator__form-main {
  //Desktop
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
}

.calculator__form-main-steps {
  //Desktop
  @media (min-width: 1024px) {
    width: 51.4%;
  }
}

.calculator__form-select{
  position: relative;
  cursor: pointer;
  font-weight: 500;
  padding: 18px 15px;
  margin-top: 15px;
  box-sizing: border-box;
  border: 1px solid $basic-black;
  border-radius: 4px;

  //Tablet
  @media (min-width: 768px) {
    padding: 18px 24px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 4px;
    width: 28px;
    height: 12px;
    background-image: url("../img/open.svg");
    background-repeat: no-repeat;

    //Tablet
    @media (min-width: 768px) {
      right: 14px;
    }
  }
}

.calculator__form-select--open {
  &::after {
    transform: rotate(180deg);
    right: 22px;
  }
}

.calculator__form-title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 9px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 18px;
  }

  //Desktop
  @media (min-width: 1024px) {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

.calculator__form-type-options {
  list-style: none;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  border: 1px solid $basic-black;
  border-radius: 4px;
}

.calculator__form-type-options li {
  padding: 19px 15px;
  cursor: pointer;

  //Tablet
  @media (min-width: 768px) {
    padding: 19px 24px;
  }
}

.calculator__form-type-options li:not(:last-of-type) {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $special-grey;
  }
}

.calculator__form-params {
  display: flex;
  flex-direction: column;
  margin-top: 28px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 40px;
  }

  //Desktop
  @media (min-width: 1024px) {
    margin-top: 42px;
  }
}

.calculator__form-params label {
  margin-bottom: 9px;
}

.calculator__input {
  padding: 19px;
  font-size: 16px;
  text-align: center;

  //Desktop
  @media (min-width: 1024px) {
    padding: 18px;
    font-size: 18px;
  }
}

.calculator__form-params div .calculator__input {
  border: none;
  padding: 0;
  font-weight: 500;
  width: 50%;
}

.calculator__form-credit {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid $basic-black;
  border-radius: 4px;
}

.calculator__form-credit + span {
  color: $basic-black;
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 33px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 38px;
  }

  //Desktop
  @media (min-width: 1024px) {
    margin-bottom: 21px;
  }
}

.calculator__button {
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 1;
  padding: 25px;
  height: 59px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 31px;
    right: 11px;
    width: 16px;
    height: 1px;
    background-color: #1F1E25;

    //Tablet
    @media (min-width: 768px) {
      height: 2px;
    }
  }
}

.calculator__button:last-of-type {
  &::before {
    right: 14px;

    //Tablet
    @media (min-width: 768px) {
      right: 24px;
      bottom: 30px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 23px;
    right: 21px;
    width: 1px;
    height: 16px;
    background-color: #1F1E25;

    //Tablet
    @media (min-width: 768px) {
      right: 31px;
      width: 2px;
    }
  } 
}

.calculator__range {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 8px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 13px;
  }

  //Desktop
  @media (min-width: 1024px) {
    margin-top: 17px;
    margin-bottom: 19px;
  }
}

.calculator__range div {
  display: flex;
  justify-content: space-between;
  border: none;
}

.calculator__range span {
  font-size: 14px;
  margin-top: 8px;
}

.calculator__range input {
  -webkit-appearance: none;
  height: 1px;
  background-color: $special-grey;
}

.calculator__range input::-moz-range-track {
  height: 1px;
  background-color: $special-grey;
}

.calculator__range input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  background-color: $basic-blue;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  cursor: pointer;

  &::after {
    content: "10%";
    display: block;
    position: absolute;
    bottom: 23px;
    right: 21px;
    width: 10px;
    height: 16px;
    color: #1F1E25;
  }
}

.calculator__range input::-moz-range-thumb {
  position: relative;
  background-color: $basic-blue;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  cursor: pointer;
  
  &::after {
    content: "10%";
    display: block;
    position: absolute;
    bottom: 23px;
    right: 21px;
    width: 10px;
    height: 16px;
    color: #1F1E25;
  }
}

.calculator__checkbox label {
  position: relative;
  font-size: 14px;
  margin-left: 24px;

  //Tablet
  @media (min-width: 768px) {
    margin-left: 26px;
    font-size: 16px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -25px;
    width: 16px;
    height: 16px;
    border: 1px solid $dark-grey;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    //Tablet
    @media (min-width: 768px) {
      top: 2px;
      width: 14px;
      height: 14px;
    }
  }
}

.calculator__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.calculator__checkbox input:checked + label::before {
  background-color: $basic-blue;
  border-color: $basic-blue;
  background-image: url("../img/check-mark-white.svg");
}

.calculator__form-offer,
.calculator__form-warning{
  background-color: $basic-grey;
  margin-top: 34px;
  padding: 15px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 40px;
    padding: 39px 61px;
  }

  //Desktop
  @media (min-width: 1024px) {
    width: 500px;
    box-sizing: border-box;
    margin-top: -3px;
    padding: 39px 58px;
    align-self: baseline;
  }
}

.calculator__form-offer .calculator__form-title,
.calculator__form-warning .calculator__form-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 25px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.calculator__form-warning .calculator__form-title br:first-of-type {
  display: none;

  //Tablet
  @media (min-width: 768px) {
    display: block;
  }
}

.calculator__form-warning .calculator__form-title br:nth-of-type(2) {
  //Tablet
  @media (min-width: 768px) {
    display: none;
  }
}

.calculator__form-offer-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px;

  //Tablet
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 31px;
    margin-bottom: 0;
  }
}

.calculator__form-offer-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

   //Tablet
   @media (min-width: 768px) {
    width: 41%;
    margin-bottom: 30px;
  }

  //Desktop
  @media (min-width: 1024px) {
    width: 50%;
    margin-bottom: 32px;
  }
}

.calculator__form-offer-item:nth-of-type(2n) {
  //Desktop
  @media (min-width: 1024px) {
    margin-left: 34px;
    width: 41%;
  }
}

.calculator__form-offer-item span:first-of-type {
  font-size: 18px;
  font-weight: 500;

  //Tablet
  @media (min-width: 768px) {
    font-size: 22px;
    margin-bottom: 8px;
  }

  //Desktop
  @media (min-width: 1024px) {
    margin-bottom: 6px;
  }
}

.calculator__form-button {
  width: 100%;
  padding: 18px 36px;
  margin-bottom: 23px;

  //Desktop
  @media (min-width: 1024px) {
    font-size: 16px;
    padding: 17px 36px;
  }
}

.calculator__form-total {
  display: flex;
  flex-direction: column;
  margin-top: 45px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 55px;
  }

  //Desktop
  @media (min-width: 1024px) {
    margin: 0 auto;
    margin-top: 64px;
    width: 770px;
    background-color: $basic-grey;
    padding: 73px 70px 46px;
    box-sizing: border-box;
  }
}

.calculator__form-total .calculator__form-title {
  align-self: center;

  //Desktop
  @media (min-width: 1024px) {
    margin-bottom: 6px;
  }
}

.calculator__form-total-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.calculator__form-total-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 15px;
  margin-bottom: 17px;

  //Tablet
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $special-grey;
  }
}

.calculator__form-total-item span:last-of-type {
  font-weight: 500;
  font-size: 18px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.calculator__form-total-user {
  display: flex;
  flex-direction: column;
  margin-top: 13px;

  //Tablet
  @media (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &--required {
    position: relative;

    &::after {
      content: 'Пожалуйста, заполните все поля';
      position: absolute;
      display: block;
      bottom: 17px;
      left: 57px;
      width: 100%;
      height: 1px;
      color: red;
      font-size: 12px;

      //Tablet
      @media (min-width: 768px) {
        left: 234px;
      }

      //Desktop
      @media (min-width: 1024px) {
        left: 223px;
      }
    }
  }
}

.calculator__form-total-user input {
  padding: 19px 14px;
  margin-bottom: 20px;
  font-size: 16px;

  //Tablet
  @media (min-width: 768px) {
    padding: 19px 22px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 28px;
  }

  //Desktop
  @media (min-width: 1024px) {
    background-color: $basic-grey;
    border: 1px solid $basic-black;
    border-radius: 6px;
  }
}

.calculator__form-total-user input:not(:first-of-type) {
  //Tablet
  @media (min-width: 768px) {
    width: 41%;
  }

  //Desktop
  @media (min-width: 1024px) {
    width: 40%;
  }
}

.calculator__form-total-user + .calculator__form-button {
  margin-top: 10px;

  //Desktop
  @media (min-width: 1024px) {
    align-self: center;
    width: 198px;
  }
}