.map {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  //Tablet
  @media (min-width: 768px) {
    padding: 40px 45px;
    margin-bottom: 40px;
  }

  //Desktop
  @media (min-width: 1024px) {
    padding: 116px 98px 71px;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.map__title {
  font-size: 22px;
  padding-left: 15px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 32px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 45px;
  }

  //Desktop
  @media (min-width: 1024px) {
    font-size: 41px;
    margin-bottom: 72px;
  }
}

.map__img { 
  height: 395px;
  background-image: url("../img/map.png");
  background-position: right;
  
  //Tablet
  @media (min-width: 768px) {
    height: 462px;
  }
}