.page-footer__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 15px;
}

.page-footer__logo-image {
  width: 113px;
  margin-left: -3px;
}
  
.page-footer__address {
  display: none;
  font-size: 12px;
  line-height: 16px;
  margin-top: 15px;
}
  
.page-footer__navigation {
  margin-top: 20px;
}
  
.page-footer__mobile {
  margin-top: 15px;
  margin-left: 28px;
}
  
.page-footer__mobile-info {
  position: relative;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  
  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: -28px;
    width: 15px;
    height: 20px;
    background-image: url("../img/mobile.svg");
    background-repeat: no-repeat;
  }
}
  
.page-footer__telephone-main {
  text-decoration: none;
  color: $basic-black;
}
  
.page-footer__telephone {
  margin-left: 34px;
  margin-top: 17px;
}
  
.page-footer__telephone-info { 
  position: relative;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  
  &::before {
    content: "";
    position: absolute;
    top: -19px;
    left: -35px;
    width: 15px;
    height: 20px;
    background-image: url("../img/telephone.svg");
    background-repeat: no-repeat;
  }
}