.page-header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 11px;
  min-height: 48px;
  box-sizing: border-box;

  &--open {
    height: 95vh;
    flex-direction: column;
    justify-content: start;
  }
}

.page-header__main-container {
  display: flex;
  justify-content: space-between;
}

.page-header__logo-container {
  display: flex;
  justify-content: space-between;
  min-width: 145px;
}

.page-header__container--open .page-header__logo-container {
  justify-content: start;
}

.page-header__logo-image {
  width: 118px;
  margin-top: -9px;
}

.page-header__container--open .page-header__logo-image {
  margin-left: 11px;
}

.page-header__navigation {
  display: none;
}
  
.page-header__container--open .page-header__navigation {
  display: block;
}

.page-header__open-button {
  position: relative;
  border: none;
  background-color: transparent;
  width: 10px;
  height: 16px;
  padding: 8px;
  margin-top: -3px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: $basic-black;
    box-shadow: 0 5px 0 0 $basic-black, 0 10px 0 0 $basic-black;
    border-radius: 25px;
  }
}

.page-header__close-button {
  display: none;
}

.page-header__container--open .page-header__close-button {
  display: block;
  position: relative;
  border: none;
  background-color: transparent;
  width: 10px;
  height: 16px;
  padding: 8px;
  margin-top: -3px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    right: -2px;
    width: 19px;
    height: 2px;
    background-color: $basic-black;
    opacity: 0.7;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -2px;
    width: 19px;
    height: 2px;
    opacity: 0.7;
    background-color: $basic-black;
    transform: rotate(-45deg);
  }
}

.page-header__container--open .page-header__authorization {
  padding: 20px 45px;
}